body {
    max-width: 1900px;
}

h1 {
    text-align: center;
}

a {
    color:  aqua;
}

.table {
    border-style: solid;
    border-radius: 1%;
}

p {
    margin: 50px;
    font-weight:bolder;
    font-size: 30px;
}

ul {
    font-weight:bolder;
    font-size: 20px;
}

td {
    border-style: ridge;
    border-color: green;
    border-width: 1px;
}

.hidden {
    visibility: hidden;
}

.border {
    border-style: dotted;
    border-color: red;
}